/* the code below are root fonts and styles */
:root {
    --georgia: 'Noto Serif Georgian', serif;
    --space: 'Space Mono', monospace;

    --color1: #528676;
    --color2: #46494C;
    --color3: #E5E4E3;
    --color4: #F6AE2D;
    --color5: #34a0a4;
    --body: #000;
    --body: #fff;

}
/* ---------Site plan css------------ */
#site-purpose {
    width: 1000px;
    margin: 0 auto;
}
/* the code below styles the actual table layout */
table {
    width: 50%;
    margin: 0 auto;
}
th {    
    font-size: 16px;
    text-align: left;
    padding: 15px;
    border: solid var(--color2) 2px;
}
tr td {
    font-family: var(--nunito);
    text-align: center;
    margin-left: 5px;
    border: solid var(--color2) 2px;
}
table, td {
    border: 2px var(--color2);
    height: 10vh;
}
/* the code below provides sample styles within the table */
/* header */
table tbody tr .sample1 {
    color: #000;
    background-color: #E5E4E3;
    font-size: 40px;
}
/* nav bar */
table tbody tr .sample2 {
    color: #fff;
    background-color: #528676;
    font-size: 30px;
}
/* footer */
table tbody tr .sample3 {
    color: #000;
    background-color: #E5E4E3;
    font-size: 20px;
}
table tbody tr .sample4-1 {
    color: #081c15;
    background-color: #F6AE2D;
    font-size: 30px;
}
table tbody tr .sample4-2 {
    color: #081c15;
    background-color: #F6AE2D;
    font-size: 25px;
}
table tbody tr .sample4-3 {
    color: #081c15;
    background-color: #F6AE2D;
    font-size: 20px;
}
table tbody tr .sample5 {
    color: var(--color1);
    background-color: var(--color3);
    font-size: 16px;
}
* {box-sizing:border-box}
/* ---------------------------------------- */

/* ----------Home page css------------- */
header {
  text-align: center;
}
main {
    text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides{
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: var(--color3);
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #f6b02dcf;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.active{
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* HOME PAGE styles----------------------------- */
header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 3fr 1fr;
}
nav {
  grid-column: 1/4;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  background-color: var(--color1);
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10%;
  height: 70%;
  width: 100%;
}

.nav-bar :hover{
  background-color: var(--color5);
}
nav ul li a {
  color: #fff;
  font-size: 22px;
  list-style: none;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
}
.top-icons1{
  display: flex;
  flex-direction: column;
  text-align: right;
}
img.top-logo {
  margin: 0 auto;
  width: 50%;
  padding-top: 8%;
}
.title-1 h1 {
  font-size: 50px;
  color: var(--color1);
}
.title-1 h2 {
  font-size: 35px;
  color: var(--color4);
}
.try-now {
  position: absolute;
  top: 520px;
  left: 1400px;
  color: #fff;
  font-size: 50px;
  background-color: var(--color4);
  border-radius: 50px;
  padding: 15px;
}
.try-now:hover{
  color: #fff;
  background-color: var(--color1);
}
.juice-up {
  position: absolute;
  top: 1270px;
  left: 350px;
  color: #fff;
  font-size: 50px;
  background-color: var(--color1);
  border-radius: 50px;
  padding: 15px;
}
.juice-up:hover{
  color: #fff;
  background-color: var(--color4);
}
/* code for section 1 (above weather forecast)*/
.section1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top-text{
  grid-column: 1/1;
  grid-row: 1/2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.cherry {
  grid-column: 2/3;
}
/* code for section 2 (below weather forecast)*/
.section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.bottom-text{
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px;
}
.orange {
  grid-column: 1/2;
}
/* code for the footer */
footer {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 180px 1fr 1fr;
}
img.bottom-logo {
  margin: 0 auto;
  width: 50%;
  padding-top: 8%;
}
footer h1 {
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: center;
  color: var(--color4);
}
.bottom-icons1 {
  grid-column: 3/4;
  display: flex;
  flex-direction: column;
  text-align: right;
}
p.last-modified {
  grid-column: 1/4;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background-color: var(--color1);
  height: 100%;
}
p.sub-footer {
  grid-column: 1/4;
  text-align: center;
  color: #fff;
  background-color: var(--color1);
}
/* ---------------------------------------------- */
/* FRESH PAGE styles----------------------------- */
main .left-side, .right-side {
  text-align: left;
  padding-left: 2rem;
  width: 400px;
  height: 500px;
}
main .left-side, .right-side {
  text-align: left;
  width: 35%;
  height: 500px;
  padding-left: 12rem;
}
/* your order */
.left-side .fieldset1{
  font-size: 22px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: solid var(--color2) 1px;
  margin: 2rem 0;
  border-radius: 15px;
  padding: .5rem 2%;
}
/* 3 fruit inputs */
.left-side .fieldset2{
  font-size: 22px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: solid var(--color2) 1px;
  margin: 2rem 0;
  border-radius: 15px;
  padding: .5rem 2%;
}
/* special instructions */
.left-side .fieldset3{
  font-size: 22px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: solid var(--color2) 1px;
  margin: 2rem 0;
  border-radius: 15px;
  padding: .5rem 2%;
}
label.top1 {
  width: 240px;
  padding: 25px;
  display: inline-block;
}
.input-1 {
  padding: 25px;
  font-size: 22px;
  text-align: left;
}
select#ingredients {
  font-size: 18px;
  text-align: center;
}
input.submitBtn {
  color: #fff;
  font-size: 22px;
  background-color: var(--color1);
  border-radius: 50px;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}
input.submitBtn:hover {
  color: white;
  background-color: var(--color4);
}
label.text-box {
  text-align: center;
}
/* ---------------------------------------------- */
/* ABOUT US PAGE styles----------------------------- */


