/* --myfont is a variable that can be referenced throughout the file */
/* :root {
    --myfont:'Sofia Sans', 'Roboto', sans-serif;
} */
*{
    font-family: 'Indie Flower', "Roboto", sans-serif;
}

.completecontainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: 5px;
}

h1 {
    background-color: #032B43;
    color: white;
}

h2 {
    color: #032B43;
}
header {
    text-align: center;
    background-color: #032B43;
}
header h1 {
    padding: 30px;
    color: white;
}
header h2 {
    padding: 20px;
    color: white;
}



.container-1 {
    border: 3px solid black;
    background-color: #EDF7F6;
    text-align: left;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
}
a {
    display: block;
    margin: 20px;
    color: #032B43;
}
.container-2 {
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EDF7F6;
    margin: 10px;
}

.container-3 {
    border: 3px solid black;
    text-align: center;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EDF7F6;
    margin: 10px;
}

.footer-wrap {
    text-align: center;
    background-color: #032B43;
    color: #EDF7F6;
}

/* 1fr 1fr */
/* 1fr 1fr 1fr  */

/* span 2 */

/* always start will small media query */