:root {
    --roboto: 'Roboto', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #EB5E28;
    --color2: #252422;
    --color3: #403D39;
    --color4: #CCC5B9;
    --color5: #FFFCF2;
}
body {
    text-align: center;
    max-width: 1300px;
    margin: 0 auto;
    background-color: var(--color5);
}
header h1 {
    text-align: center;
    background-color: var(--color1);
    color: var(--color5);
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
    font-size: 32px;
}

h1 p {
    text-align: left;
    color: #403D39;
    font-size: 26px;
}

nav {
    margin: 0 auto;
    background-color: var(--color2);
    color: var(--color5);
    max-width: 1300px;
    font-size: 20px;
    text-decoration: none;
}

header ul {
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    color: var(--color5);
    text-decoration: none;
    overflow: hidden;
    text-decoration: none;
}

header li {
    display: inline;
    color: var(--color5);
    text-decoration: none;
}
p {
    font-size: 18px;
}
a:hover {
    color: var(--color5);
    text-decoration: none;
}

table {
    border: 5px #252422 ;
    margin: 0 auto;
}
tr td { 
    font-family: var(--robo);
    text-align: center;
}
table, td {
    border: 2px solid var(--color2);
    height: 10vh; 
}
th {
    font-family: var(--roboto);
    background-color: var(--color5);
    color: var(--color2);
    font-size: 18px;
    text-align: center;
    padding: 7px;
}

footer {
    background-color: var(--color1);
    color: var(--color5);
    max-width: 1300px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
}

.sample1 {
    font-family: var(--roboto);
    font-size: 32px;
    color: var(--color5);
    background-color: var(--color1);
}

.sample2 {
    font-family: var(--nunito);
    font-size: 20px;
    color: var(--color5);
    background-color: var(--color2);
    
}
.sample3 {
    font-family: var(--roboto);
    font-size: 26px;
    color: var(--color3);
    
}
.sample4 {
    font-family: var(--nunito);
    font-size: 20px;
    color: var(--color2);
    background-color: var(--color5);
}
.sample5{
    font-family: var(--roboto);
    font-size: 32px;
    color: var(--color5);
    background-color: var(--color1);

}