:root {
    --roboto: 'Roboto', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #EB5E28;
    --color2: #252422;
    --color3: #403D39;
    --color4: #CCC5B9;
    --color5: #FFFCF2;
}


#page {
    background-color: var(--color5);
}
#title {
    font-size: 30px;
    font-family: var(--nunito);
    text-shadow: 0px 0px 10px #000000;
}
header {
    display: flex;
    background-image: linear-gradient(to right, var(--color1), var(--color5));
    color: var(--color5);
    font-family: var(--roboto);
    justify-content: space-between;
}
.navBar {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    border: solid var(--color1) 2px;
}

li .navText {
    color: var(--color5);
    font-size: 22px;
}

.navBar :hover{
    background-color: var(--color4);
}

.navBar li {
    display: none;
}


.navBar li:first-of-type {
    display: block;
}

.navBar li:first-of-type .x{
    display: none;
}

.showListItems li {
    display: block;
}
.showListItems li:first-of-type #hamburgerBtn{
    display: none;
}
.showListItems li:first-of-type .x{
    display: block;
}


.x {
    display: none;
}
.xAppear {
    display: block;
}

.showListItems li:first-of-type .x{
    display: block;
}

.logo {
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px var(--color5);
}
#title {
    text-align: center;
    margin: 0 auto;
}
#icons {
    text-align: right;
}
#hamburgerBtn {
    width: 50px;
}
main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
}

#hero-box {
    grid-row: 1/3;
    grid-column: 2/3;
    text-align: center;
    border: solid black 2px;
    padding: 20px;
}
#weather { 
    grid-row: 1/2;
    grid-column: 1/2;
    text-align: center;
    border: solid var(--color3) 5px;

}
#event1 { 
    grid-row: 2/3;
    grid-column: 1/2;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;

}

#event1 img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#join { 
    grid-row: 3/4;
    grid-column: 1/2;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#join img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#news { 
    grid-row: 3/4;
    grid-column: 2/3;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#one { 
    grid-row: 1/2;
    grid-column: 3/4;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#one img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#two { 
    grid-row: 2/3;
    grid-column: 3/4;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;

}
#two img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#three { 
    grid-row: 3/4;
    grid-column: 3/4;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#three img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}

main {
    padding: 20px;
}
footer .logo {
    text-align: left;
}
#contact-info {
    text-align: center;
}
footer {
    margin: 0 auto;
    display: flex;
    background-color: var(--color1);
    color: var(--color5);
    max-width: 100%;
    font-size: 20px;
}
#footer-wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
}
#sub-footer {
    display: flex;
	align-items: center;
	justify-content: center;
}