:root {
    --roboto: 'Roboto', sans-serif;
    --nunito: 'Nunito Sans', sans-serif;

    --color1: #EB5E28;
    /* #de5926 use this color for color 1 */
    --color2: #252422;
    --color3: #403D39;
    --color4: #CCC5B9;
    --color5: #FFFCF2;
}

#page {
    background-color: var(--color5);
}
#title {
    font-size: 30px;
    font-family: var(--nunito);
    text-shadow: 0px 0px 10px #000000;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background-image: linear-gradient(to right, var(--color1), var(--color5));
    color: var(--color5);
    font-family: var(--roboto);
    justify-content: space-between;
}
.navBar {
    display: flex;
    flex-direction: column;
    background-color: var(--color1);
    border: solid var(--color1) 2px;
}

li .navText {
    color: var(--color5);
    font-size: 22px;
}

.navBar :hover{
    background-color: var(--color4);
}

.navBar li {
    display: none;
}


.navBar li:first-of-type {
    display: block;
}

.navBar li:first-of-type .x{
    display: none;
}

.showListItems li {
    display: block;
}
.showListItems li:first-of-type #hamburgerBtn{
    display: none;
}
.showListItems li:first-of-type .x{
    display: block;
}


.x {
    display: none;
}
.xAppear {
    display: block;
}

.showListItems li:first-of-type .x{
    display: block;
}

.logo {
    text-align: left;
    margin-left: 25px;
    margin-top: 25px;
    box-shadow: 0px 0px 10px var(--color5);
}
#title {
    text-align: center;
    margin: 0 auto;
}
#icons {
    text-align: right;
}
#hamburgerBtn {
    width: 50px;
}
main {
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr ;
}

#hero-box {
    grid-column: 1;
    text-align: center;
    border: solid black 2px;
    padding: 20px;
}
#hero-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#weather { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;

}
#event1 { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;

}

#event1 img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#join { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#join img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#news { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#one { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
}
#one img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#two { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;

}
#two img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}
#three { 
    grid-column: 1;
    text-align: center;
    border: solid var(--color3) 5px;
    background-color: var(--color4);
    padding: 5px;
    display: none;
}
#three img {
    border: solid var(--color2) 5px;
    background-color: var(--color5);
}

main {
    padding: 20px;
}
footer .logo {
    text-align: left;
}
#contact-info {
    text-align: center;
}
footer {
    margin: 0 auto;
    display: flex;
    background-color: var(--color1);
    color: var(--color5);
    max-width: 100%;
    font-size: 20px;
}
#footer-wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
}
#sub-footer {
    display: flex;
	align-items: center;
	justify-content: center;
}
#message1 {
    grid-column: 3/4;
    grid-row: 2/3;
}
/* The css below applies to the Name, LastName section of Join,html */
form fieldset {
    margin: 2rem 0;
    border-radius: 15px;
    padding: .5rem 2%;
}
form legend {
    color: var(--color1);
    margin: 0rem 1rem;
    padding: 0rem .5rem;
}

form label.top {
    display: block;
    color: var(--color2);
    font-size: .8rem;
    color: red;
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid var(--color2) 1px;
    border-radius: 5px;
    padding: .75rem;
    color: #EB5E28;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
}
/* The css below applies to the Radio choice section of Join,html */
form label.sbs {
    display: block;
    padding: .75rem;
    color: var(--color2)
}
/* The css below applies to the Radio choice section of Join,html */
form input.submitBtn {
    border : none;
    color: var(--color5);
    background-color: var(--color1);
    border-radius: 1rem;
    padding: .75rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
/* The css below validates whether the input tag has an input or not section of Join,html */

form label.top input:required {
    border-left: red solid 8px;
}

form label.top input:required:valid {
    border-left: green solid 8px;
} 

table {
	/* border-bridge sticks individual table cells together */
    border-collapse: collapse;
    margin: 0 auto;
    border-radius: 15px;
}

caption {
    padding: 10px;
    caption-side: bottom;
}
th[scope='col']{
	padding: 25px;
    border: 1px solid rgb(6, 0, 0);
    background-color: var(--color1);
    color: white;
    font-size: large;
	text-align: center;
}

th[scope="colgroup"] {
	text-align: center;
	width: 500px;
	padding: 10px;
}

tbody > tr:nth-child(even) {
    background-color: var(--color4);
}

td{
    border: 2px solid var(--color2);
    font-size: 18px;
    padding: 10px;
    text-align: center;
}
.directory {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.cards {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    text-align: center;
    width: 100%;
    padding: 10px;
}
.cards section {
    width: 100%;
    border:solid var(--color2) 2px;
}
.cards img {
    margin: 0 auto;
}
.list {
    display: block;
}
.list section {
    display: grid;
    grid-template-columns: 10% 20% 10% 20% 20% 20%;
    flex-direction: row;
    align-items: center;
}
.btn-wrap {
    margin: 0 auto;
}
.directory h1 {
    margin: 0 auto;
    padding-bottom: 10px;
}


