@media only screen and (min-width: 65em){

    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    main {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto auto;
    }
    .navBar li {
        display: block;
    }
    .navBar li:first-of-type {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 80% 20% ;
    }
    p #message1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    nav {
        grid-column: 2/4;
        justify-content: space-evenly;
    }
    nav ul li {
        padding: 5px;
    }

    nav ul li a {
        text-decoration: none;
    }

    .icons {
        display: flex;
        align-self: center;
        justify-self: flex-end;
        flex-direction: column;
        text-align: right;
    }
    .lastVisit {
        color: #EB5E28;
    }
    .userVisits {
        color: #EB5E28;
    }
    #contact-info {
        width: 200px;
        height: 200px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    /* section 1 img 1 on discover page */
    #section1 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
      }
    #section1:hover .middle {
        opacity: 1;
      }
      #section1:hover .image {
        opacity: 0.3;
      }
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 250px;
        font-size: 25px;
        color: #EB5E28;
      }
      .image {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .text {
        background-color: #EB5E28;
        color: white;
        font-size: 30px;
        padding: 32px 32px;
      }
    /* section 2 img 2 on discover page */
    #section2 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
    }
    #section2:hover .middle2 {
        opacity: 1;
      }
      #section2:hover .image2 {
        opacity: 0.3;
      }
      .middle2 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 250px;
        font-size: 20px;
        color: #EB5E28;
      }
      #section2 .image2 {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      #section2 .text2 {
        background-color: #EB5E28;
        color: white;
        font-size: 30px;
        padding: 32px 32px;
      }
      /* section 3 img 3 on discover page */
      #section3 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
    }
    #section3:hover .middle3 {
        opacity: 1;
      }
      #section3:hover .image3 {
        opacity: 0.3;
      }
      .middle3 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 250px;
        font-size: 25px;
        color: #EB5E28;
      }
      #section3 .image3 {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      #section3 .text3 {
        background-color: #EB5E28;
        color: white;
        font-size: 30px;
        padding: 32px 32px;
      }
      /* section 4 img 4 on discover page */
      #section4 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
    }
    #section4:hover .middle4 {
        opacity: 1;
      }
      #section4:hover .image4 {
        opacity: 0.3;
      }
      .middle4 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 250px;
        font-size: 20px;
        color: #EB5E28;
      }
      #section4 .image4 {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      #section4 .text4 {
        background-color: #EB5E28;
        color: white;
        font-size: 30px;
        padding: 32px 32px;
      }
       /* section 5 img 5 on discover page */
       #section5 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
    }
    #section5:hover .middle5 {
        opacity: 1;
      }
      #section5:hover .image5 {
        opacity: 0.3;
      }
      .middle5 {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 250px;
        font-size: 20px;
        color: #EB5E28;
      }
      #section5 .image5 {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      #section5 .text5 {
        background-color: #EB5E28;
        color: white;
        font-size: 30px;
        padding: 32px 32px;
      }
}