@media only screen and (min-width: 65em){

    .navBar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    main {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: auto auto;
    }
    .navBar li {
        display: block;
    }
    .navBar li:first-of-type {
        display: none;
    }
    header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 60% 20% 20%;
    }
    p #message1 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    nav {
        grid-column: 2/4;
        justify-content: space-evenly;
    }
    nav ul li {
        padding: 5px;
    }

    nav ul li a {
        text-decoration: none;
    }

    .icons {
        display: flex;
        align-self: center;
        justify-self: flex-end;
        flex-direction: column;
        text-align: right;
    }
    #hero-box {
      grid-row: 1/3;
      grid-column: 2/3;
  }
  #weather { 
      grid-row: 1/2;
      grid-column: 1/2;
  }
  #event1 { 
      grid-row: 2/3;
      grid-column: 1/2;
  }
  
  #join { 
      grid-row: 3/4;
      grid-column: 1/2;
  }
  #news { 
      grid-row: 3/4;
      grid-column: 2/3;
  }
  #one { 
      grid-row: 1/2;
      grid-column: 3/4;
  }
  #two { 
      grid-row: 2/3;
      grid-column: 3/4;
  
  }
  #three { 
      grid-row: 3/4;
      grid-column: 3/4;
      /* makes html block appear after having applied display:none; previously */
      display: block;
  }
    .lastVisit {
        color: #EB5E28;
    }
    .userVisits {
        color: #EB5E28;
    }
    #contact-info {
        width: 200px;
        height: 200px;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    /* section 1 img 1 on discover page */
    /* add all img sections with commas with one styling */
    /* delete additonal styling */
    #section1, #section2, #section3, #section4, #section5 {
        position: relative;
        width: 65%;
        margin: 0 auto;
        padding-left: 275px;
      }
      #section1:hover .middle, #section2:hover .middle, #section3:hover .middle, #section4:hover .middle, #section5:hover .middle {
        opacity: 1;
      }
      #section1:hover .image, #section2:hover .image, #section3:hover .image, #section4:hover .image, #section5:hover .image {
        opacity: 0.3;
      }
      .middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top:40%;
        left: 60%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
        font-size: 25px;
        color: #EB5E28;
      }
      .mule {
        position: absolute;
        top:20%;
        left: 60%;
      }
      .image {
        opacity: 1;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
      }
      .text {
        background-color: #EB5E28;
        color: white;
        font-size: 25px;
        padding: 32px 32px;
      }
      main#mainID {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
      }
      form label.sbs {
        padding: .4rem 0;
      }
      #footer-wrapper {
        width: 300px;
    }
    .cards {
        grid-template-columns: repeat(3,1fr);
    }
    .list {
        grid-template-columns: repeat(3,1fr);
    }
    .list section {
        grid-template-columns: 10% 20% 10% 20% 20% 20%;
        flex-direction: row;
        align-items: center;
    }
}