@media only screen and (min-width: 37.5em) {
    :root {
        --roboto: 'Roboto', sans-serif;
        --nunito: 'Nunito Sans', sans-serif;
    
        --color1: #c24f22;
        /* #de5926 use this color for color 1 */
        --color2: #252422;
        --color3: #403D39;
        --color4: #CCC5B9;
        --color5: #FFFCF2;
    }
    .navBar {
        display: flex;
        flex-direction: column;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        /* grid-template-rows: auto auto; */
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #title h1, #title h2 {
    font-size: 34px;
}
    #hero-box {
        grid-column: 1/5;
    }
    #weather { 
        grid-row: 5/6;
        grid-column: 4/5;
    }
    #event1 { 
        grid-row: 5/6;
        grid-column: 1/4;
    }
    
    #join { 
        grid-row: 4/5;
        grid-column: 1/5;
    }
    #news { 
        grid-row: 2/3;
        grid-column: 1/5;
    }
    #one { 
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #two { 
        grid-row: 3/4;
        grid-column: 3/5;
    
    }
    #three { 
        grid-row: 3/4;
        grid-column: 3/4;
    }
    #footer-wrapper {
        width: 200px;
    }
    .cards {
        grid-template-columns: repeat(2,1fr);
    }
    .list {
        grid-template-columns: 1fr 1fr;
    }
    .list section {
        grid-template-columns: 50% 50% ;
        flex-direction: row;
        align-items: center;
    }

}
