@media only screen and (min-width: 37.5em) {
    .navBar {
        display: flex;
        flex-direction: column;
    }
    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        /* grid-template-rows: auto auto; */
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #hero-box {
        grid-column: 1/5;
    }
    #weather { 
        grid-row: 5/6;
        grid-column: 4/5;
    }
    #event1 { 
        grid-row: 5/6;
        grid-column: 1/4;
    }
    
    #join { 
        grid-row: 4/5;
        grid-column: 1/5;
    }
    #news { 
        grid-row: 2/3;
        grid-column: 1/5;
    }
    #one { 
        grid-row: 3/4;
        grid-column: 1/3;
    }
    #two { 
        grid-row: 3/4;
        grid-column: 3/5;
    
    }
    #three { 
        grid-row: 3/4;
        grid-column: 3/4;
    }
    #footer-wrapper {
        width: 200px;
    }
    .cards {
        grid-template-columns: repeat(2,1fr);
    }

}
