@media only screen and (min-width: 37.5em) {
    .navBar {
        display: flex;
        flex-direction: row;
    }
    main {
        display: grid;
        grid-template-columns: auto auto ;
        grid-template-rows: auto auto;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
